@model HomeCareObjects.Model.ServiceRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ServiceRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestDescription" class="control-label">Request Description</label>
                <input asp-for="RequestDescription" class="form-control" />
                <span asp-validation-for="RequestDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNeeded" class="control-label">Date Needed</label>
                <input asp-for="DateNeeded" class="form-control" />
                <span asp-validation-for="DateNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer Name</label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label">Service Type</label>
                <select asp-for="ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create Request" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index"><input type="button" value="Back To List" class="btn btn-danger" /></a>
</div>

