@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@User.Identity.Name</h2>
    <p>This Web App Is designed To Make Your Home better.</p>
    <p>If you need any service, simply click the Service Request in the Navingation Bar.</p>
</div>
